<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="BumpMint integration tests">
			<file>tests/test-effective-pricing.php</file>
			<file>tests/test-checkout-eligibility.php</file>
			<file>tests/test-storage.php</file>
		</testsuite>
	</testsuites>
</phpunit>
